.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 2;
  margin-top: 300px;
  margin-left: 50px;
  
}

.baloon {
  width: 300px;
  position: absolute;
  z-index: 1;
  margin: -50px 0 0 380px;
}

.speach {
  font-size: 25px;
}

.bowser {
  width: 400px;
  position:absolute;
  z-index: 1;
  margin: 100px 0 0 650px;
}
